<div class="row mt-3">
  <div class="col-md-4 col-12">
    <div class="text-center mt-5">

      {{!-- <object class="profile-img" data="https://via.placeholder.com/200" type="image/png">
        <img class="user-img" src="{{profile.avatar}}">
      </object> --}}

      {{#if profile.avatar }}
      <img class="user-img" src="{{profile.avatar}}" style="width: 300px; height: 300px; border-radius: 30px;">
      {{else}}
      <object class="profile-img" data="https://via.placeholder.com/200" type="image/png">
      </object>
      {{/if}}

      <h3>{{profile.name}}</h3>
    </div>
    <p class="text-light">{{profile.introduction}}</p>

    <br />
    <div class="aside-menu">
      <h5>
        <a class="text-light" href="/users/{{profile.id}}/tweets">Tweets <span
            class="badge profile-badge">{{profile.Tweets.length}}</span>
        </a>
      </h5>
      <h5>
        <a class="text-light" href="/users/{{profile.id}}/followings">Following <span
            class="badge profile-badge">{{profile.Followings.length}}</span>
        </a>
      </h5>
      <h5>
        <a class="text-light" href="/users/{{profile.id}}/followers">Follower <span
            class="badge profile-badge">{{profile.Followers.length}}</span>
        </a>
      </h5>
      <h5>
        <a class="text-light" href="/users/{{profile.id}}/likes">Like <span
            class="badge profile-badge">{{profile.LikedTweets.length}}</span>
        </a>
      </h5>
    </div>
    <br />

    <div class="text-center mb-5">
      {{#ifCond profile.id user.id}}
      <a href="/users/{{profile.id}}/edit" class="btn btn-outline-primary btn-round">Edit Profile</a>
      {{else}}

      {{#if isFollowed }}
      <form action="/followships/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-outline-danger btn-round">Unfollow</button>
      </form>
      {{else}}
      <form action="/followships" method="POST" style="display: contents;">
        <input type="number" name="id" value="{{profile.id}}" class="d-none">
        <button type="submit" class="btn btn-outline-dark btn-round">Follow</button>
      </form>
      {{/if}}
      {{/ifCond}}
    </div>
  </div>

  {{!-- user card --}}
  <div class="col-md-8 col-12">
    <h3>Tweets</h3>
    {{#each tweetArray}}
    <div class="tweet-card shadow item w-100 p-2">
      <div class="row no-gutters">
        <div class="col-md-2 p-2">
          <object class="user-img" data="https://via.placeholder.com/50" type="image/png">
            <img class="user-img" src="{{this.User.avatar}}">
          </object>
        </div>

        <div class="col-md-10">
          <a href="/users/{{this.User.id}}/tweets">@{{this.User.name}},</a>
          <p class="time-text d-inline-block"> {{moment this.createdAt}}</p>
          <p class="text-light">{{this.description}}</p>
          <a href="/tweets/{{this.id}}/replies" class="tweet-card-icon"><i class="fa fa-comment-o"
              aria-hidden="true"></i>&nbsp; {{this.Replies.length}}</a>

          {{!-- 判斷此則 tweet 是否有帳號擁有者 like 過與否 --}}
          {{#if isLiked}}
          <form action="/tweets/{{this.id}}/unlike" method="POST" class="d-inline ml-5">
            <button type="submit" class="tweet-card-icon">
              <i class="fa fa-heart text-danger" aria-hidden="true"></i>&nbsp; ({{this.Likes.length}})</i>
            </button>
          </form>
          {{else}}
          <form action="/tweets/{{this.id}}/like" method="POST" class="d-inline ml-5">
            <button type="submit" class="tweet-card-icon">
              <i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp; {{this.Likes.length}}</i>
            </button>
          </form>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>