<div class="container">
  <div class="row">
    <div class="col-8">
      <form action="/tweets" method="POST">
        <div class="form-group">
          <label for="addNewTweet"></label>
          <textarea class="form-control" id="addNewTweet" rows="3" name="newTweet"
            placeholder="What's on your mind? (140 characters)" maxlength="140" required></textarea>
          <div class="invalid-feedback feedback">
            Please enter your tweet
          </div>
        </div>
        <input type="hidden" name="userId" value="{{user.id}}" />
        <button type="submit" class="btn btn-primary mb-2">Tweet</button>
      </form>
      <br>
      <div class="tweetsContainer">
        {{#each tweets}}
        <div class="card border border-secondary rounded-lg p-3 m-3">
          <div class="row">
            <div class="col-2">
              <a href="/users/{{this.User.id}}/tweets">
                <img class="" src="{{this.User.avatar}}" width="50px" height="50px">
              </a>
            </div>
            <div class="col-10">
              <h6><a href="/users/{{this.User.id}}/tweets">@{{this.User.name}}, </a>
                <span>{{this.updatedAt}}</span></h6>

              <p>{{this.description}}</p>
              <span>
                <a href="/tweets/{{this.id}}/replies">Reply({{this.numOfReplies}}) </a>
              </span>
              {{#if this.isLiked}}
              <form action="/tweets/{{this.id}}/unlike" method="POST" class="d-inline">
                <input type="hidden" name="tweet_id" value="{{this.id}}" />
                <button type="submit" class="button-as-link"> Liked ({{this.numOfLikes}})</button>
              </form>
              {{else}}
              <form action="/tweets/{{this.id}}/like" method="POST" class="d-inline">
                <input type="hidden" name="tweet_id" value="{{this.id}}" />
                <button type="submit" class="button-as-link"> Like ({{this.numOfLikes}})</button>
              </form>
              {{/if}}
            </div>
          </div>

        </div>
        {{/each}}
      </div>
    </div>
    <div class="col-4">
      <div class="topUserContainer">
        {{#each users}}
        <div class="card border border-secondary rounded-lg p-3 m-3">
          <div class="row">
            <div class="col-4">
              <a href="/users/{{this.id}}/tweets">
                <img class="" src="{{his.avatar}}" width="50px" height="50px">
              </a>
            </div>
            <div class="col-8">
              <h6><a href="/users/{{this.id}}/tweets">@{{this.name}}</a></h6>
              <h6>{{this.introduction}}</h6>
              {{#if this.isFollowed }}
              <form action="" method="POST" style="display: contents;"><button type="submit"
                  class="btn btn-danger btn-sm">Unfollow</button></form>
              {{else}}
              <form action="" method="POST" style="display: contents;"><button type="submit"
                  class="btn btn-primary btn-sm">Follow</button></form>
              {{/if}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

<script>
  let addNewTweet = document.getElementById('addNewTweet')
  addNewTweet.addEventListener('input', displayTweetLength)

  function displayTweetLength(event) {
    let feedback = addNewTweet.nextElementSibling
    let tweetLength = this.value.length

    if (tweetLength < 140 && tweetLength > 0) {
      feedback.innerHTML = `You have entered ${tweetLength} characters, ${140 - tweetLength} left`
      feedback.style.display = 'inherit'
      feedback.classList.add('text-success')
    } else if (tweetLength === 0) {
      feedback.innerHTML = 'Please enter your tweet'
      feedback.classList.remove('text-success')
    } else {
      feedback.innerHTML = `You have entered ${tweetLength} characters!`
    }
  }
</script>