<div class="row mt-3">
  <div class="col-md-3 mb-5">
    <div class="text-center mt-5">
      <a href="/users/{{profile.id}}/tweets">
        <object class="profile-img" data="https://via.placeholder.com/150" type="image/png">
          <img class="user-img" src="{{profile.avatar}}">
        </object>
      </a>
      <a href="/users/{{profile.id}}">
        <h3>{{profile.name}}</h3>
      </a>
    </div>
    <p class="text-light">{{profile.introduction}}</p>
    <br />
    <div class="aside-menu">
      <h5>
        <a class="text-light" href="/users/{{profile.id}}/tweets" class="text-dark">Tweets <span
            class="badge profile-badge">{{profile.Tweets.length}}</span>
        </a>
      </h5>
      <h5>
        <a class="text-light" href="/users/{{profile.id}}/followings" class="text-dark">Following <span
            class="badge profile-badge">{{profile.Followings.length}}</span>
        </a>
      </h5>
      <h5>
        <a class="text-light" href="/users/{{profile.id}}/followers" class="text-dark">Follower <span
            class="badge profile-badge">{{profile.Followers.length}}</span>
        </a>
      </h5>
      <h5>
        <a class="text-light" href="/users/{{profile.id}}/likes" class="text-dark">Like <span
            class="badge profile-badge">{{profile.LikedTweets.length}}</span>
        </a>
      </h5>
    </div>
    <br />
    <div class="text-center">
      {{#ifCond user.id profile.id}}
      <a href="/users/{{user.id}}/edit" class="btn btn-outline-primary btn-round">Edit Profile</a>
      {{else}}

      {{#if profile.isFollowed }}
      <form action="/followships/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;">
        <button type="submit" class="btn btn-outline-danger btn-round">Unfollow</button></form>
      {{else}}
      <form action="/followships" method="POST" style="display: contents;">
        <input type="number" name="id" value="{{profile.id}}" class="d-none">
        <button type="submit" class="btn btn-outline-primary btn-round">Follow</button>
      </form>
      {{/if}}
      {{/ifCond}}
    </div>
  </div>

  {{!-- following users --}}
  <div class="col-md-8 col-12">
    <h3>Following</h3>
    <div class="row">
      {{!-- user card --}}
      {{#each userFollowings}}
      <div class="col-lg-6 col-12 p-2">
        <div class="follow-card w-100 shadow mt-1 p-2 item">
          <div class="row no-gutters">
            <div class="col-3 text-center">
              <object class="profile-img" data="https://via.placeholder.com/50" type="image/png">
                <img class="user-img" src="{{this.avatar}}">
              </object>
            </div>
            <div class="col-9">
              <div class="d-flex justify-content-between">
                <a href="/users/{{this.id}}/tweets">@{{this.name}}</a>
                <span class="badge follow-badge" style="font-size: 1em; top:-42px;left:147px">{{this.FollowerCount}}
                  位粉絲</span>
              </div>
              <div class="text-light mt-1">
                {{this.introduction}}
              </div>
              <div class="text-right m-1">
                {{#ifCond this.id ../user.id}}

                {{else}}
                {{#if this.isFollowed }}
                <form action="/followships/{{this.id}}?_method=DELETE" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-outline-danger btn-round">Unfollow</button>
                </form>
                {{else}}
                <form action="/followships" method="POST" style="display: contents;">
                  <input type="number" name="id" value="{{this.id}}" class="d-none">
                  <button type="submit" class="btn btn-outline-primary tn-round">Follow</button></form>
                {{/if}}
                {{/ifCond}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>